<div class = "row">
  <div class = "col-md-4">
    <h1>Create a new park</h1>
    <%= form_for @park, html: {role: "form"} do |f| %>
      <div class="form-group">
        <%= f.label "Name (required)" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "Location (required)" %>
        <%= f.text_field :location, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "Off-leash?" %>
        <%= f.check_box :off_leash %>
      </div>
      <div class="form-group">
        <%= f.label "Fenced area?" %>
        <%= f.check_box :fenced %>
      </div>
      <%= f.submit(class: "btn btn-primary") %>
    <% end %>
  </div>
</div>
