<% content_for(:title, "#{@park.name} | @ThePark!") %>
<div class='row'>
  <div class='col-md-4 col-md-offset-2'>
    <h2>@<%= @park.name %></h2>
    <ul>
      <li><h4>Location: <%= @park.location %></h4></li>
      <% if @park.off_leash == true %>
        <li><h4>Off Leash Area? <strong>Yes!</strong></h4></li>
      <% else %>
        <li><h4>Off Leash Area? <strong>No</strong></h4></li>
      <% end %>
      <% if @park.fenced == true %>
        <li><h4>Fenced? <strong>Yes!</strong></h4></li>
      <% else %>
        <li><h4>Fenced? <strong>No</strong></h4></li>
      <% end %>
    </ul>

    <p><%= link_to "Edit Park", edit_park_path(@park), class: "btn btn-primary" %>
    <p><%= link_to "Delete Park", park_path(@park), data: { confirm: "You're about to delete a park! Are you sure?",
                                                            method: "delete"},
                                                            class: "btn btn-danger" %>

  </div>
  <div class='col-md-4'>
    <h2>Who's there?</h2>
    <p><h2>Dogs</h2></p>
      <ul>
        <% @visits.each do |visit| %>
          <% visit.user.dogs.each do |dog| %>
            <li><%= link_to dog.name, user_dog_path(dog.user, dog) %></li>
          <% end %>
        <% end %>
      </ul>
    <h4>Humans</h4>
      <ul>
        <% @visits.each do |visit| %>
            <li><%= link_to visit.user.name, user_path(visit.user) %></li>
        <% end %>
      </ul>
  </div>
</div>
