<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label "Name" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Email" %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Password" %>
    <%= f.text_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Gender (optional)" %>
    <%= f.text_field :gender, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Age (optional)" %>
    <%= f.text_field :age, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Pic" %>
    <%= f.file_field :avatar %>
  </div>
  <%= f.submit(class: "btn btn-primary") %>
<% end %>
