<% content_for(:title, "#{@user.name} | @ThePark!") %>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h2><%= @user.name %></h2>
    <%= image_tag @user.avatar.url(:thumb) %>
    <br>
    <ul>
      <% if @user.age != 0 %>
        <li><%= @user.age %></li>
      <% else %>
        <li>Not given</li>
      <% end %>
      <% if !@user.gender.nil? %>
        <li><%= @user.gender %></li>
      <% else %>
        <li>Not given</li>
      <% end %>
    </ul>

    <p><%= link_to "Update Profile", edit_user_registration_path, class: "btn btn-primary" %>
    <p><%= link_to "Add new dog", new_user_dog_path(@user), class: "btn btn-info" %>
    <% if can? :destroy, @user %>
      <%= link_to "Delete", user_path(@user), data: { confirm: "You're about to delete a user! Are you sure?",
                                                                        method: "delete"},
                                                                class: "btn btn-danger" %>
    <% end %>
    <h2>Check In @</h2>
      <%= form_for @visit do |f| %>
        <div class="form-group">
          <%= f.collection_select :park_id, @parks, :id, :name, {}, {class: "form-control"} %>
        </div>
          <%= f.submit "Check-in!", class: "btn btn-primary" %>
      <% end %>

  </div>
  <div class="col-md-5 col-md-offset-2">
    <h2>And their dog(s)...</h2>
    <ul><% @user.dogs.each do |dog| %>
      <li class="object-list"><%= image_tag dog.headshot.url(:tiny) %><%= link_to dog.name, user_dog_path(@user, dog) %></li>
      <% end %>
    </ul>
  </div>
</div>
