<% content_for(:title, "#{@user.name} | @ThePark!") %>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h2><%= @user.name %></h2>
    <%= image_tag @user.avatar.url(:thumb) %>
    <ul>
      <% if @user.age != 0 %>
        <li><%= @user.age %></li>
      <% else %>
        <li>Not given</li>
      <% end %>
      <% if !@user.gender.empty? %>
        <li><%= @user.gender %></li>
      <% else %>
        <li>Not given</li>
      <% end %>
    </ul><br/>

    <p>

    <p><a href="/users/<%= @user.id %>/edit" class="btn btn-primary">Edit User</a></p>
    <p><a href="/users/<%= @user.id %>"
          data-confirm="You're about to delete a user. Are you sure?"
          data-method="delete"
          rel="nofollow"
          class="btn btn-danger">Delete User</a></p>
    <p><%= link_to "Add new dog", new_user_dog_path(@user), class: "btn btn-info" %></p><br/>
    <h2>Check In @</h2>
    <form role="form" action="/visits", method="post">
      <div class="form-group">
        <select name="visit[park_id]" class="form-control">
          <% @parks.each do |park| %>
            <option value="<%= park.id %>" class="form-control"><%= park.name %></option>
          <% end %>
        </select>
        <input type="hidden" name="visit[user_id]" value="<%= @user.id %>"><br/>
        <button type="submit" class="btn btn-info">Check-in!</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <h2>And their dogs...</h2>
    <ul><% @user.dogs.each do |dog| %>
      <li class="object-list"><%= image_tag dog.headshot.url(:tiny), class: "img-circle" %><%= link_to dog.name, user_dog_path(@user, dog) %></li>
      <% end %>
    </ul>
  </div>
</div>
