<h1><%= @user.name %></h1>
<h3>Stats:</h3>
<ul>
  <% if @user.age != 0 %>
    <li><%= @user.age %></li>
  <% else %>
    <li>Not given</li>
  <% end %>
  <% if !@user.gender.empty? %>
    <li><%= @user.gender %></li>
  <% else %>
    <li>Not given</li>
  <% end %>
</ul>
<p><a href="/users/<%= @user.id %>/edit" class="btn btn-primary">Edit User</a></p>
<p><a href="/users/<%= @user.id %>"
      data-confirm="You're about to delete a user. Are you sure?"
      data-method="delete"
      rel="nofollow"
      class="btn btn-danger">Delete User</a></p>
